.metals
.pytest_cache
.vscode
cluster_config
build_files
redditstreaming
target/maven-archiver
target/maven-status
*.json
/*.json
/*/*.json
*/*/*.json
*/*/*/*.json
terraform
redditStreaming/src/test/python/creds.json
redditStreaming/src/main/python/s3/creds.json
redditStreaming/src/main/python/glue/env/glue
redditStreaming/src/main/python/secrets/__pycache__
redditStreaming/src/main/python/scripts/__pycache__
# redditStreaming/target/*.jar
# redditStreaming/src/main/python/wheels/*.whl