.metals
.pytest_cache
.vscode
cluster_config
build_files
redditstreaming
target/maven-archiver
target/maven-status
*.json
creds.json
/*.json
/*/*.json
*/*/*.json
*/*/*/*.json
terraform
redditStreaming/src/test/python/*.json
redditStreaming/src/main/python/s3/*.json
redditStreaming/src/main/python/glue/env/glue
redditStreaming/src/main/python/glue/___pycache__
redditStreaming/src/main/python/secrets/__pycache__
redditStreaming/src/main/python/scripts/__pycache__