anyio
appnope
argon2-cffi
argon2-cffi-bindings
asttokens
attrs
awscli
Babel
backcall
beautifulsoup4
bleach
boto3
botocore
brotlipy
certifi
cffi
charset-normalizer
colorama
cryptography
debugpy
decorator
defusedxml
delta
delta-spark
docutils
entrypoints
executing
fastjsonschema
flit_core
idna
importlib-metadata
importlib-resources
ipykernel
ipython
ipython-genutils
ipywidgets
jedi
Jinja2
jmespath
json5
jsonschema
jupyter
jupyter_client
jupyter-console
jupyter_core
jupyter-server
jupyterlab==4.3.4
jupyterlab-pygments
jupyterlab_server
jupyterlab-widgets
kafka-python
MarkupSafe
matplotlib-inline
mistune
nbclassic
nbclient
nbconvert
nbformat
nest-asyncio
notebook
notebook_shim
numpy
packaging
pandas
pandocfilters
parso
pexpect
pickleshare
pip
pkgutil_resolve_name
prometheus-client
prompt-toolkit
psutil
psycopg2
ptyprocess
pure-eval
py4j
pyarrow
pyasn1
pycparser
Pygments
pyOpenSSL
pyparsing
pyrsistent
PySocks
pyspark==3.5.3
python-dateutil
pytz
PyYAML
pyzmq
requests
rsa
s3transfer
Send2Trash
setuptools
six
sniffio
soupsieve
stack-data
terminado
tinycss2
tornado
traitlets
typing_extensions
urllib3
wcwidth
webencodings
websocket-client
wheel
widgetsnbextension
zipp
