.vscode
.metals
.bloop
.ipynb_checkpoints
redditStreaming/creds.json
target/
redditStreaming/src/main/python/reddit/__pycache__
local
.DS_Store
redditStreaming/.DS_Store
redditStreaming/reddit
cluster_config
dags
logs
plugins
.env
terraform/.terraform
