.vscode
.metals
.bloop
.ipynb_checkpoints
.env
redditStreaming/creds.json
target/
redditStreaming/src/main/python/reddit/__pycache__
local
.DS_Store
redditStreaming/.DS_Store
redditStreaming/reddit
redditStreaming/src/main/python/reddit/creds.json
cluster_config
dags
logs
plugins
.env
pat.json
./pat.json
src/test/python/__pycache__
src/test/python/.pytest_cache

cluster_config
build_files
redditstreaming
target/maven-archiver
target/maven-status
*.json
/*.json
/*/*.json
*/*/*.json
*/*/*/*.json
redditStreaming/*.json
terraform/.terraform*
redditStreaming/src/test/python/creds.json
redditStreaming/src/main/python/s3/creds.json
redditStreaming/src/main/python/glue/env/glue
redditStreaming/src/main/python/secrets/__pycache__
redditStreaming/src/main/python/scripts/__pycache__
redditStreaming/target/*.jar
redditStreaming/src/main/python/wheels/*.whl
