secrets:
  aws_access_key_id: 
    file: aws_access_key.txt
  aws_secret_access_key: 
    file: aws_secret.txt
  tf_api_token:
    file: tf_api_token.txt
volumes:
  shared-workspace:
    driver: local
  postgres-db-volume:
    driver: local
services:
  jupyterlab:
    image: jupyterlab
    container_name: reddit-jupyterlab
    secrets:
      - aws_access_key_id
      - aws_secret_access_key
    environment:
      - JUPYTER_TOKEN=easy
      - AWS_ACCESS_KEY_ID=aws_access_key_id
      - AWS_SECRET_ACCESS_KEY=aws_secret_access_key
      - TF_API_TOKEN=tf_api_token
    ports:
      - 8999:8888
    volumes:
      - shared-workspace:/opt/workspace
      - ./redditStreaming:/opt/workspace/redditStreaming
    read_only: false
  spark-master:
    image: spark-master
    container_name: reddit-spark-master
    hostname: spark-master
    ports:
      - 8085:8080
      - 7081:7077
      - 4045:4040
    volumes:
      - shared-workspace:/opt/workspace
      - ./local_jobs:/opt/workspace/local_jobs
      - ./aws_access_key.txt:/opt/workspace/aws_access_key.txt
      - ./aws_secret.txt:/opt/workspace/aws_secret.txt
  spark-worker-1:
    image: spark-worker
    container_name: reddit-spark-worker-1
    environment:
      - SPARK_WORKER_CORES=4
      - SPARK_WORKER_MEMORY=2g
    ports:
      - 4046:4040
      - 8088:8081
      - 18086:18080
    volumes:
      - shared-workspace:/opt/workspace
    depends_on:
      - spark-master
  spark-worker-2:
    image: spark-worker
    container_name: reddit-spark-worker-2
    environment:
      - SPARK_WORKER_CORES=4
      - SPARK_WORKER_MEMORY=2g
    ports:
      - 4047:4040
      - 8087:8082
      - 18087:18080
    volumes:
      - shared-workspace:/opt/workspace
    depends_on:
      - spark-master
  reddit-postgres:
    image: postgres
    container_name: reddit-postgres
    hostname: reddit-postgres
    ports: 
      - "5434:5432"
    environment: 
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=secret!1234
  zookeeper:
    # image: wurstmeister/zookeeper
    image: ghcr.io/arm64-compat/confluentinc/cp-zookeeper:7.1.1
    container_name: zookeeper
    hostname: zookeeper
    # networks:
    #   - reddit_streaming
    ports:
      - "2181:2181"
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
    restart: always
    volumes:
      - ./cluster_config/zookeeper/data:/opt/zookeeper-3.4.13/data

  kafka:
    # image: wurstmeister/kafka
    image: ghcr.io/arm64-compat/confluentinc/cp-kafka:7.1.1
    container_name: kafka
    hostname: kafka
    # networks:
    #   - reddit_streaming
    ports:
      - "9092:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_DEFAULT_REPLICATION_FACTOR: 1
      KAFKA_LOG_DIRS: /kafka/kafka-logs
    restart: always
    depends_on:
      - zookeeper
    healthcheck:
      test: ["CMD-SHELL", "kafka-broker-api-versions --bootstrap-server kafka:9092 || exit 1"]
      interval: 10s
      timeout: 10s
      retries: 5
      start_period: 30s
    # entrypoint: /tmp/entrypoint.sh
    volumes: 
      - ./cluster_config/kafka/logs:/kafka/kafka-logs
      - ./cluster_config/kafka/config:/opt/kafka/config
      # - ./entrypoint.sh:/tmp/entrypoint.sh
      - /var/run/docker.sock:/var/run/docker.sock

  # kowl:
  #   image: docker.redpanda.com/vectorized/console:master-217260f
  #   container_name: redpanda_console
  #   restart: on-failure
  #   entrypoint: /bin/sh
  #   command: -c "echo \"$$CONSOLE_CONFIG_FILE\" > /tmp/config.yml; /app/console"
  #   environment:
  #     CONFIG_FILEPATH: /tmp/config.yml
  #     CONSOLE_CONFIG_FILE: |
  #       kafka:
  #         brokers: ["xanaxprincess.asuscomm.com:9092"]
  #   ports:
  #     - "8085:8080"
  #   depends_on:
  #     - kafka

  dynamodb:
    image:  amazon/dynamodb-local
    container_name: reddit-dynamodb
    hostname: dynamodb
    restart: always
    volumes:
      -  ./my-dynamodb-data:/home/dynamodblocal/data
    ports:
      - 8010:8000
    command: "-jar DynamoDBLocal.jar -sharedDb -dbPath /home/dynamodblocal/data/"

  # # postgres:
  # #   image: postgres:13
  # #   environment:
  # #     POSTGRES_USER: airflow
  # #     POSTGRES_PASSWORD: secret!12345
  # #     POSTGRES_DB: airflow
  # #   volumes:
  # #     - postgres-db-volume:/var/lib/postgresql/data
  # #   healthcheck:
  # #     test: ["CMD", "pg_isready", "-U", "airflow"]
  # #     interval: 5s
  # #     retries: 5
  # #   restart: always
  # #   hostname: postgres
  # #   ports: 
  # #     - "5432:5432"

  # ganglia:
  #   image: kurthuwig/ganglia:latest
  #   container_name: ganglia
  #   restart: on-failure
  #   ports:
  #   - "127.0.0.1:80:80"
  #   - "8649:8649"
  #   - "8649:8649/udp"
  #   volumes:
  #   - ./cluster_config/ganglia/etc:/etc/ganglia
  #   - ./cluster_config/ganglia/data:/var/lib/ganglia
