anyio==3.6.2
appnope==*
argon2-cffi==*
argon2-cffi-bindings==*
asttokens==*
attrs==*
Babel==*
backcall==*
beautifulsoup4==*
bleach==*
boto3==*
botocore==*
brotlipy==*
certifi==*
cffi==*
charset-normalizer==*
cryptography==*
cycler==*
debugpy==*
decorator==*
defusedxml==*
delta==*
delta-spark==*
distlib==*
entrypoints==*
executing==*
fastjsonschema==*
filelock==*
fonttools==*
# glue==*
idna==*
importlib-metadata==*
iniconfig==*
ipykernel==*
ipython==*
ipython-genutils==*
ipywidgets==*
jedi==*
Jinja2==*
jmespath==*
json5==*
jsonschema==*
jupyter==*
jupyter-client==*
jupyter-console==*
jupyter-core==*
jupyter-server==*
jupyterlab==*
jupyterlab-pygments==*
jupyterlab-server==*
jupyterlab-widgets==*
kafka-python==*
kiwisolver==*
MarkupSafe==*
matplotlib==*
matplotlib-inline==*
mistune==*
nbclassic==*
nbclient==*
nbconvert==*
nbformat==*
nest-asyncio==*
notebook==*
notebook-shim==*
numpy==*
packaging==*
pandas==*
pandocfilters==*
parso==*
pexpect==*
pickleshare==*
Pillow==*
pip==*
platformdirs==*
pluggy==*
prometheus-client==*
prompt-toolkit==*
psutil==*
psycopg2==*
ptyprocess==*
pure-eval==*
py==*
py4j==*
pyarrow==*
pycparser==*
Pygments==*
pyOpenSSL==*
pypandoc==*
pyparsing==*
pyrsistent==*
PySocks==*
pyspark==3.2.2
pytest==*
python-dateutil==*
pytz==*
PyYAML==*
pyzmq==*
qtconsole==*
QtPy==*
# reddit==*
requests==*
# s3transfer==*
Send2Trash==*
setuptools==*
six==*
sniffio==*
soupsieve==*
sparksql-magic==*
stack-data==*
terminado==*
tinycss2==*
tomli==*
tornado==*
traitlets==*
urllib3==*
virtualenv==*
wcwidth==*
webencodings==*
websocket-client==*
wget==*
wheel==*
widgetsnbextension==*
zipp==*
