name: terraform
on: [push, pull_request]
jobs:
  terraform:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v2
      - name: create-json
        id: create-json
        uses: jsdaniell/create-json@1.1.2
        with:
          name: "creds.json"
          json: ${{ secrets.CREDS }}
          dir: 'redditStreaming/'
      - name: create txt files
        run: touch aws_access_key.txt && touch aws_secret.txt
      - name: aws access key id
        run: 'echo "$ACCESS_KEY" > aws_access_key.txt'
        shell: bash
        env:
          ACCESS_KEY : ${{secrets.AWS_ACCESS_KEY_ID}}
      - name: aws secret key
        run: 'echo "$SECRET_KEY" > aws_secret.txt'
        shell: bash
        env:
          SECRET_KEY : ${{secrets.AWS_SECRET_ACCESS_KEY}}
      - name: list directory
        run: ls
      - name: cat access_key
        run: cat aws_access_key.txt
      - name: build dockerfiles
        run: ./build.sh
      - name: change directory
        run: cd terraform
      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v1
        with:
          # terraform_version: 0.13.0
          cli_config_credentials_token: ${{ secrets.TF_API_TOKEN }}
      # - name: Configure AWS Credentials
      #   uses: aws-actions/configure-aws-credentials@v1
      #   with:
      #     aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
      #     aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      #     aws-region: us-east-2
      #     role-to-assume: ${{ secrets.AWS_ROLE_TO_ASSUME }}
      #     role-external-id: ${{ secrets.AWS_ROLE_EXTERNAL_ID }}
      #     role-duration-seconds: 1200
      #     role-session-name: terraform
      - name: Terraform Format
        id: fmt
        run: terraform fmt -check
      - name: Terraform Init
        id: init
        run: cd terraform && terraform init
      - name: Terraform Validate
        id: validate
        run: cd terraform && terraform validate -no-color
      - name: Terraform Plan
        id: plan
        if: github.event_name == 'pull_request'
        run: cd terraform && terraform plan -no-color -input=false
        continue-on-error: true
      - name: Terraform Plan Status
        if: steps.plan.outcome == 'failure'
        run: exit 1
      - name: Terraform Plan
        run: cd terraform && terraform init && terraform plan -out tfplan
      - name: Terraform Apply
        run: terraform apply "tfplan"
      - name: Terraform Apply Push
        if: github.ref == 'refs/heads/main' && github.event_name == 'push'
        run: terraform apply -auto-approve -input=false
        
